<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
      </div>
      <div class="form-control">
        <label for="imgurl">Image URL</label>
        <input type="text" name="imgurl" id="imgurl" value="<% if (editing) { %><%= product.imgurl %><% } %>">
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } %>">
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5"><% if (editing) { %><%= product.description %><% } %></textarea>
      </div>
      <% if (editing) { %>
      <input type="hidden" value="<%= product.id %>" name="productId">
      <% } %>
      <div class="error" style="color: red; margin-top: 10px; margin-bottom: 10px;"></div>
      <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
    </form>
  </main>

  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async(event) => {
      event.preventDefault();
      const title = form.querySelector('#title').value;
      const imgurl = form.querySelector('#imgurl').value;
      const price = form.querySelector('#price').value;
      const description = form.querySelector('#description').value;
      const error = document.querySelector('.error');
  
      await fetch('/admin/add-product', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          title: title,
          imgurl: imgurl,
          price: price,
          description: description
        })
      }).then((response) => {
        if (response.ok) {
          location.assign('/admin/products');
        } else {
          response.json().then((data) => {
            error.textContent = data.message;
          });
        }
      });
    });
  </script>

  <%- include('../includes/end.ejs') %>